a {
  text-decoration: none;
}
.navbar {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}
.logo {
  color: var(--white);
  font-size: 3em;
  text-transform: uppercase;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }
@media (max-width: 768px){
    .logo{
        font-size: 32px;
    }
}
@media (max-width: 480px){
    .logo{
        font-size: 24px;
    }
}

